**Question 1. What are the two values of the Boolean data type? How do you write them?**

Two value of Boolean data type are 'TRUE' and 'FALSE'

They are written as 'True' and 'False'

In [ ]:
print('Numerical value of "True" is:',int(True))

Numerical value of "True" is: 1

In [ ]:
print('Numerical values of "Fasle" is:',int(False))

Numerical values of "Fasle" is: 0

**Question 2: What are the three different types of Boolean operators?**

'AND', 'OR' and 'NOT' are three Boolean operators.

**Question 3: Make a list of each Boolean operator's truth tables**

**(i.e. every possible combination of Boolean values for the operator and what it evaluate ).**

In [ ]:
x=8
y=10
z=20

In [ ]:
x==y and y>z

False

In [ ]:
x==y or y<z

True

In [ ]:
x!=y and y!=z

True

In [ ]:
x==y and y!=z

False

**Question 4: What are the values of the following expressions?**

**(i) (5 > 4) and (3 == 5)**

**(ii) not (5 > 4)**

**(iii) (5 > 4) or (3 == 5)**

**(iv) not ((5 > 4) or (3 == 5))**

**(v) (True and True) and (True == False)**

**(vi) (not False) or (not True)**

In [ ]:
print('(i) (5>4) and (3==5) : {}'.format((5>4) and (3==5)))
print()
print('(ii) not(5>4):{}'.format(not(5>4)))
print()
print('(iii) (5>4) or (3==5): {}'.format((5>4) or (3==5)))
print()
print('(iv) not((5>4) or (3==5))'.format(not((5>4) or (3==5))))
print()
print('(v) (True and True) and (True==False)): {}'.format((True and True) and (True==False)))
print()
print('(not False) or (not True) : {}'.format((not False) or (not True)))

(i) (5>4) and (3==5) : False

(ii) not(5>4):False

(iii) (5>4) or (3==5): True

(iv) not((5>4) or (3==5))

(v) (True and True) and (True==False)): False

(not False) or (not True) : True

**Question 5: What are the six comparison operators?**

Six comparison operators are

  1. Less than - <
  2. Greater than - >
  3. Equal to - ==
  4. Less than or equal to - <=
  5. Greater than or equal to - >=
  6. Not Equal to - !=

**Question 6: How do you tell the difference between the equal to and assignment operators?**

**Describe a condition and when you would use one.**

= --> Assignment Operator

x = 5
Assigning the value of 5 to a variable x. An object by the name 'x' is created and assigned a value 5.

A object is created by PVM and and indivudual ID number is assigned to it.

In [ ]:
print('The value of "x" is:',x)
print('ID of the variable "x" is:',id(x))

The value of "x" is: 5
ID of the variable "x" is: 140248638357872

== --> Equal to operator.

Equal to operator is used for value and content comparison

Whether the two variable or elements are are of equal value.

In [ ]:
# Case 1 - Value comparison

x=100
y=10
print(x==y)
print()
print()

# Case 2 - Content comparison
           # When a same value is assigned to two different variables, PVM will point the two variable to same object

x = 100
y = 100

print('Case-2 - Content comaprison:',id(x)==id(y))
print('id(x) is {} and id(y) is {}'.format(id(x),id(y)))
print()
print()
# Case 3 - ID Comparison

a = 10
b= 20

print('Case-3 - ID comparison:',id(a)==id(b))

False


Case-2 - Content comaprison: True
id(x) is 140248638360912 and id(y) is 140248638360912


Case-3 - ID comparison: False

**7. Identify the three blocks in this code: spam = 0 if spam == 10: print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')**


There are three blocks in the code.

First block: After first 'if' block print('eggs')

second block: After second 'if' block print('ham')

thord block: After 'else' print('ham') ('spam') ('spam')

In [ ]:
spam = 0
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

**Question 8: Write code that prints Hello if 1 is stored in spam, prints**
**Howdy if 2 is stored in spam, and prints Greetings! if anything else**
**is stored**

In [ ]:
spam=int(input('Enter the value of spam:'))
if spam==1:
  print('Hello')
elif spam==2:
  print('Howdy')
else:
  print('Greetings!')

Enter the value of spam:10
Greetings!

**Question 9: If your programme is stuck in an endless loop, what keys youâ€™ll press?**

Ctrl + C

**Question 10: How can you tell the difference between break and continue?**

We can use loop statements inside the loop to break execution based on some condition.

In [ ]:
# Example 1-1 for break statement usage

cart=[100,20,30,500,700,45,34]

for item in cart:
  if item>=500:
    print('To place this order insurance must be required')
    break
  print(item)

100
20
30
To place this order insurance must be required

In [ ]:
# Example 1-2 for continue statement usage

cart= [100,20,30,500,700,45,34]

for item in cart:
  if item>=500:
    print('To place this order insurance must be required')
    continue
  print(item)

100
20
30
To place this order insurance must be required
To place this order insurance must be required
45
34

In [ ]:
# Example 2-1 for continue statement usage
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# Example 2-2 for break statement usage

for i in range(10):
  if i%2==0:
    break
  print(i)

**Question 11: In a for loop, what is the difference between range(10),
range(0, 10), and range(0, 10, 1)?**

**range(10) :**

0 ~ 9 Logic behind that is for range(n) Python will start counting from zero to 10th number, which is 9 (including zero).

Python uses zero indexing.

**range(0,10):**

range(0,10) also means the same as range(10). It means starting from zero till 10th number.


**range(0,10,1):**

range(0,10,1) means, from zero to the 10th number in the increment of 1,

means 0 ~ 9. It means the same as range(0,10) and range(10).

In [ ]:
for i in range(10):
  print('Result for range(10):',i)

Result for range(10) 0
Result for range(10) 1
Result for range(10) 2
Result for range(10) 3
Result for range(10) 4
Result for range(10) 5
Result for range(10) 6
Result for range(10) 7
Result for range(10) 8
Result for range(10) 9

In [ ]:
for i in range(0,10):
  print('Result for range(0,10):',i)

Result for range(0,10): 0
Result for range(0,10): 1
Result for range(0,10): 2
Result for range(0,10): 3
Result for range(0,10): 4
Result for range(0,10): 5
Result for range(0,10): 6
Result for range(0,10): 7
Result for range(0,10): 8
Result for range(0,10): 9

In [ ]:
for i in range(0,10,1):
  print('Resut for range(0,10,1):',i)

Resut for range(0,10,1): 0
Resut for range(0,10,1): 1
Resut for range(0,10,1): 2
Resut for range(0,10,1): 3
Resut for range(0,10,1): 4
Resut for range(0,10,1): 5
Resut for range(0,10,1): 6
Resut for range(0,10,1): 7
Resut for range(0,10,1): 8
Resut for range(0,10,1): 9

**Question 12: Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.**

In [ ]:
# Using for loop
print('Printing numbers 1 to 10 using for loop ')
for i in range(0,11,1):
  print(i)

Printing numbers 1 to 10 using for loop
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
print('Printing numbers 1 to 10 using while loop')
i=0
while i<=10:
  print(i)
  i=i+1

Printing numbers 1 to 10 using while loop
0
1
2
3
4
5
6
7
8
9
10

**Question 13: If you had a function named bacon() inside a module named spam, how would you call it after importing spam?**

spam.bacon()