

**PYTHON BASIC - ASSIGNMENT - 1**

Question 1)

In the below elements which of them are values or an expression? 

eg:- values can be integer or string and expressions will be mathematical operators.

'* 

''hello'

'-87.8

'- 

'/ 

'+	

'6

In [ ]:
print('* is mathematical operator, which is used for multiplication')

* is mathematical operator, which is used for multiplication

In [ ]:
x='hello'
print("'hello' is:",type(x))

'hello' is: <class 'str'>

In [ ]:
y=-87.8
print('-87.8 is:',type(y))

-87.8 is: <class 'float'>

In [ ]:
print(" '-' is mathematical operator, which is used for subtraction")
print('Example:',100-50)

 '-' is mathematical operator, which is used for substraction
Example: 50

In [ ]:
print(" '/' is a mathematical operator, which is used for division")
print('Example:',100/50)

 '/' is a mathematical operator, which is used for division
Example: 2.0

In [ ]:
print(" '+' is a mathematical operator, which is used for addition")
print('Example:',100+50)

 '+' is a mathematical operator, which is used for addition
Example: 150

In [ ]:
print(' 6 is:',type(6))

 6 is: <class 'int'>

**Question 2: What is the difference between String and Variable**

**String:** It can be a intended length of charecters enclosed in a single 
            quotes'', double quotes " ", or triple quotes "' "'.  


**Variable:** A variable is used to store the data. Data stored can be of any type String, int, float,bool

x = 20
x --> is a variable, which stores the value of 20 in it.

**Question 3: Describe three different data types.**

 There are 3 different data types in python. 
1. String 
2. Numerical
3. Boolean 

**String Data type:** It is a collection of letters numbers and symbols eclosed in single quotes ' ', double quotes " " and triple quotes "' "'

**Numercal Data types:** There are 3 types numerical data which can be stored, (i) Integer type, (ii) Float type (iii) Complex type - a +/- ij

**Boolean data type:** True and False are two values which are part of Boolean data type. Numerical value of True is 1 and False is 0

In [ ]:
type()

str

**Question 4: What is an expression made up of? What do all expressions do?**

A expression is a combination of Operators and operands which produces some other value.

If we have more than one operator in the expression, their precendence decides which operation will be performed first.

1. Arithmatic Expressions
2. Logical Expressions 
3. Combinational expressions 
    
    (Combination of Arithmatic and Logical Expressions)

In [ ]:
# 1. Arithmatic Expression
x = 10 + 20
print('Result of arithmatic expression is:',x)


# 2. Logical Expressions
y= True and False 
print('Result of logical expression is:',y)

Result of arithmatic expression is: 30
Result of logical expression is: False

In [ ]:
#2. Combination of Arithmetic and Logical Expression 
x=float(input('Enter first number'))
y=float(input('Enter second number'))
z=float(input('Enter third number'))

if (x>y) and (x>z):
  print('Largest number is: {}'.format(x))

elif (y>x) and (y>z):
  print('Largest number is {}'.format(y))

else:
  print('Largest number is {}'.format(z))

Enter first number10
Enter second number20
Enter third number30
Largest number is 30.0

In [ ]:
x=float(input('Enter first number'))
y=float(input('Enter second number'))
z=float(input('Enter third number'))

if (x>y) and (x>z):
  print('Largest number is: {}'.format(x))

elif (y>x) and (y>z):
  print('Largest number is {}'.format(y))

else:
  print('Largest number is {}'.format(z))

Enter first number10
Enter second number20
Enter third number30
Largest number is 30.0

**Question 5: This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

Statement can be assigning a value or simply declaring a variable.

But, expression after execution always give a value as output.

**Question 6: After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1**

In [ ]:
bacon = 22
bacon+1
print(bacon)

22

**Question 7: What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3**

'spam'+'spamspam' = spamspamspam

'spam'*3=spamspamspam

In [ ]:
y='spam'+'spamspam'
print(y)
x='spam'*3
print(x)

spamspamspam
spamspamspam

**Question 8: Why is eggs a valid variable name while 100 is invalid?**

**Logic 1**
When we use a number as identifier, as python is a dynamically typed programming language, it declares the number as 'int' when we assign a value using '=' symbol it starts comparing WHETHER 100 = 120 (for example).

In [ ]:
100 = 120

SyntaxError: ignored

**Question 9: What three functions can be used to get the integer, floating-point number, or string version of a value?**

int() --> to get integer 

float() --> to get floating point number

str() --> to get the string

**Question 10: Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'**

'I have eaten ' + 99 + ' burritos '  --> Python does not allow String and numerical concatination.

To allow concatination we have to convert number into string. 99 --> '99'

In [ ]:
'I have eaten'+ 99 + 'burritos'

TypeError: ignored

In [ ]:
'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'